<div class="flex items-center gap-x-3 rounded-[2px] p-4 w-full h-[76px] bg-dark-solid">
    <img class="w-[32px] h-[32px]" src="profile.png" />
    <input class="w-full bg-dark-solid focus:outline-none text-[14px]" [placeholder]="placeholder" />
    <div class="h-[38px] mr-1 w-10 flex justify-center items-center hover:bg-dark-active transition-colors cursor-pointer">
        <svg class="w-4 h-4" icon="smile"></svg>
    </div>
    <app-button size="small" icon="arrow-right-send"></app-button>
</div>