<div class="border-[1px] h-[160px] w-full bg-dark-solid">
    <div class="p-[24px] flex items-center gap-x-8">
        <div class="flex gap-x-4">
            <img class="w-[71px] h-[71px]" src="profile.png" />
            <div class="mt-3">
                <h1 class="font-extrabold text-[18px]">Райан Гослинг</h1>
                <p class="text-[14px] mt-1">ryan.gosling</p>
            </div>
        </div>
        <p class="max-w-[284px] text-[12px] leading-[133%] mt-[6px] ml-1">
            Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
        </p>

        <div class="flex flex-wrap text-[12px] max-w-[200px] gap-1 mt-2">
            <div class="h-[24px] text-[12px] rounded-[2px] px-2 border-[1px] flex justify-center items-center">
                JS
            </div>
            <div class="h-[24px] text-[12px] rounded-[2px] px-2 border-[1px] flex justify-center items-center">
                CSS
            </div>
            <div class="h-[24px] text-[12px] rounded-[2px] px-2 border-[1px] flex justify-center items-center">
                HTML
            </div>
            <div class="h-[24px] text-[12px] rounded-[2px] px-2 border-[1px] flex justify-center items-center">
                ANGULAR
            </div>
            <div class="h-[24px] text-[12px] rounded-[2px] px-2 border-[1px] flex justify-center items-center">
                FRONTEND
            </div>
        </div>

        <div class="flex items-center gap-x-[6px] ml-auto mt-2">
            <app-button text="Подписаться" icon="subscribe"></app-button>
            <app-button icon="arrow-right-top"  size="small"></app-button>
        </div>
    </div>
</div>