<div class="flex w-full gap-x-4">
    <img class="w-8 h-8 mt-[2px]" src="profile.png" />

    <div class="w-full ">
        <div class="flex justify-between text-[12px] text-light-transparent">
            <span class="leading-[171%]">Сара Коннор</span>
            <span class="mr-7">04.04.2024</span>
        </div>
        <p class="text-[12px] mt-1 pr-4 ">
            Терминаторы тестирую стенд, Готему нужен герой. За ангуляр только ты шаришь, хелп!
        </p>
        
    </div>
</div>