<div class="w-[380px] border-b-[1px] border-light-solid h-[128px] py-6 px-5 flex gap-x-4">
    <img class="w-8 h-8" src="profile.png" />

    <div class="flex flex-col w-full">
        <div class="flex justify-between w-full">
            <span class="text-[12px] text-light-transparent">Сара Коннор</span>
            <span class="text-[12px] text-light-transparent">04.04.2024</span>
        </div>

        <div class="flex mt-3">
            <p class="text-[12px] leading-[133%] line-clamp-3">Терминаторы тестирую стенд, Готему нужен герой. За ангуляр только ты шаришь, хелп! Терминаторы тестирую стенд, Готему нужен герой. За ангуляр только ты шаришь, хелп!</p>
            <div class="bg-primary px-[6px] py-[0px] text-[12px]  text-dark-solid w-fit h-fit">28</div>
        </div>
    </div>
</div>